body {
    background-image: linear-gradient(20deg, #a4edff, #85b8ff);
    background-size: 100% 110%;
}

#speeed {
    position: absolute;
}

#start-but {
    margin-left: calc(50% - 150px/2);
    margin-top: 300px;
    position: absolute;
    box-shadow: 0px 3px 10px black;
    border-radius: 25px;
    border-color: white;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 150px;
    z-index: 400;
    background-image: linear-gradient(0deg, green, lime, white);
    color: white;
    text-shadow: 0px 2px 3px black;
}

progress[value] {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    appearance: none;
    border-radius: 30px;
    background-color: #1575FF;
    color: #1575FF;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #2cb5ff;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgb(255, 255, 255, 0.75) inset;
}

.note {
    background-image: linear-gradient(20deg, #87D4FF, #1575FF);
    height: 25px;
    width: 100px;
    border-radius: 7px;
    position: absolute;
    top: 0px;
    box-shadow: 0px 1px 6px rgb(43, 128, 255);
    z-index: 0;
    clip-path: none;
}

.hid {
    display: none;
}

#game-container {
    clip-path: polygon(100% 100%,100% 0,0 0,0 100%);
    position: absolute;
    left : calc(50% - 400px/2);
    top : 5%;
    display: flex;
    justify-content: center;
}

#r1,
#r2,
#r3,
#r4 {
    display: inline-block;
    background-image: linear-gradient(75deg, rgba(55, 112, 255, 0.699), rgb(80, 176, 255));
    width: 100px;
    height: 550px;
    box-shadow: 0px 0px 4px rgb(0, 53, 199);
}

.combo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: 0px 0px 3px white;
    z-index: 300;
}

.score {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 30%;
    text-align: left;
    height: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 0px 0px 3px white;
    z-index: 300;
}

.jud {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 400px;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: 25px;
    z-index: 300;
    opacity: 1;
}

.fast-late {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 380px;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 5px white;
    z-index: 300;
    opacity: 1;
}

.hold {
    background-image: linear-gradient(0deg, #4EA4FF, #1575FF);
    height: 0px;
    width: 100px;
    position: absolute;
    top: 0px;
    border-radius: 7px;
}

.hit {
    border-radius: 7px;
    position: absolute;
    top: 0px;
    box-shadow: 0px 0px 5px 4px white;
    z-index: 0;
    background-image: none;
    background-color: white;
    animation-name: hit;
    animation-duration: 530ms;
    animation-timing-function: ease-out;
}

@keyframes hit {
    0% {
        background-color: white;
        opacity: 0.5;
    }

    100% {
        height: 300px;
        top: 270px;
        border-radius: 0px;
        background-color: white;
        box-shadow: 0 0 15px 10px white;
        opacity: 0;
    }
}